<div class="spell-display" (mouseenter)="onMouseEnter()">
    <div class="small-display">
        <div class="spell-text">
            <p class="spell-name">Test Text</p>
            <p class="spell-subtext">Level 1 - Abjuration</p>
        </div>
        <div class="spell-text">
            <p class="spell-category">Casting Time</p>
            <p class="spell-subtext">1 Action</p>
        </div>
        <div class="spell-text">
            <p class="spell-category">Duration</p>
            <p class="spell-subtext">1 Hour</p>
        </div>
        <div class="spell-text">
            <p class="spell-category">Range/Area</p>
            <p class="spell-subtext">Touch</p>
        </div>
        <button class="spell-button">Add</button>
    </div>
    <div class="description">
        fffffffff ffffffffffffffff ffffffffffffff fffffffffffff ffffffffffffff ffffffffffffffffffff ffffffffffff fffffffffffffff ffffffffffffffffff ffffffffffffff ffffffffffff ffffffffffff ffffffffffffffffff ffffffff ffffffffffffff fffffffffffff ffffff ffff
    </div>
</div>
