<div class="main-content">
<div class="homebrew-grid">
    <a [routerLink]="['/create/background']" class="container">
        <div class="left">
            <img src="../../assets/images/homebrew/background.jpg" alt="Background Feature" class="image">
        </div>
        <div class="right">
            <div class="overlay">
                <div class="text">
                    <h4>Create a Background</h4>
                    <p>Create a unique background for your character, define their history and motivations.</p>
                </div>
            </div>
        </div>
    </a>

    <a [routerLink]="['/create/character']" class="container">
        <div class="left">
            <img src="../../assets/images/homebrew/character.jpg" alt="Character Feature" class="image">
        </div>
        <div class="right">
            <div class="overlay">
                <div class="text">
                    <h4>Create a Character</h4>
                    <p>Build a character from scratch, select their race, class, and abilities.</p>
                </div>
            </div>
        </div>
    </a>

    <a [routerLink]="['/create/spell']" class="container">
        <div class="left">
            <img src="../../assets/images/homebrew/spell.jpg" alt="Spell Feature" class="image">
        </div>
        <div class="right">
            <div class="overlay">
                <div class="text">
                    <h4>Create a Spell</h4>
                    <p>Design a custom spell with unique effects and lore.</p>
                </div>
            </div>
        </div>
    </a>

    <a [routerLink]="['/create/monster']" class="container">
        <div class="left">
            <img src="../../assets/images/homebrew/monster.jpg" alt="Monster Feature" class="image">
        </div>
        <div class="right">
            <div class="overlay">
                <div class="text">
                    <h4>Create a Monster</h4>
                    <p>Create a custom monster to challenge your players, complete with abilities and lore.</p>
                </div>
            </div>
        </div>
    </a>

    <a [routerLink]="['/create/magic-item']" class="container">
        <div class="left">
            <img src="../../assets/images/homebrew/magic-item.jpg" alt="Magic Item Feature" class="image">
        </div>
        <div class="right">
            <div class="overlay">
                <div class="text">
                    <h4>Create a Magic Item</h4>
                    <p>Design a magical item with unique properties and lore to enhance your adventure.</p>
                </div>
            </div>
        </div>
    </a>
    <a [routerLink]="['/create/feat']" class="container">
        <div class="left">
            <img src="../../assets/images/homebrew/feat.jpg" alt="Feat Feature" class="image">
        </div>
        <div class="right">
            <div class="overlay">
                <div class="text">
                    <h4>Create a Feat</h4>
                    <p>Define a custom feat to give your character new abilities or enhancements.</p>
                </div>
            </div>
        </div>
    </a>


</div>



    <!-- Search Bar -->
    <div class="search-container" (click)="onFocus()" (focusout)="onBlur()">
      <input
        type="text"
        placeholder="Filter your characters..."
        [(ngModel)]="searchTerm"
        (input)="filterCharacters()"
        (focus)="onFocus()"
        class="search-input"
      />
      <i class="fa fa-search search-icon"></i>

      <!-- Search results dropdown (Only show if focused and results exist) -->
      <div *ngIf="isFocused && filteredCharacters.length" class="search-results"></div>
    </div>

    <!-- If user is logged in -->
    <div *ngIf="(authService.isLoggedIn$ | async); else loginPrompt">

        <h2>Character List</h2>

        <div *ngIf="filteredCharacters.length; else noResults">
          <div class="character-grid" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); gap: 16px;">
            <div *ngFor="let character of filteredCharacters" class="character-card">

              <div class="character-card" style="display: flex; border: 1px solid #ddd; overflow: hidden; background: #f5deb3; border-radius: 8px; box-shadow: 0px 4px 6px rgba(0,0,0,0.1);">
                  <!-- Character Image -->
                  <a [routerLink]="['/character-sheet', character.character_id]" class="character-card-link"
                     style="text-decoration: none; color: inherit; display: flex; width: 100%;">

                      <div class="character-image" style="width: 50%; height: auto; aspect-ratio: 1/1; overflow: hidden; position: relative;">
                          <img [src]="'assets/images/race_profile/' + character.race + 'CharacterImage.jpg'"
                               [alt]="character.race + ' Character Image'"
                               style="width: 100%; height: 100%; object-fit: cover; transition: .3s;">

                          <!-- Class Icon -->
                          <!-- <div class="class-icon" style="position: absolute; top: 8px; left: 8px; width: 40px; height: 40px; background: #fff; border-radius: 50%; overflow: hidden; display: flex; justify-content: center; align-items: center; box-shadow: 0px 2px 4px rgba(0,0,0,0.2);"> -->
                          <div class="class-icon" style="position: absolute; top: 8px; left: 8px; width: 40px; height: 40px; background: #ffffff00; border-radius: 50%; overflow: hidden; justify-content: center; align-items: center; box-shadow: 0px 2px 4px rgba(0,0,0,0.2);">
                              <img
                                [src]="'assets/images/class_logo/' + character.highest_class + '_Ring2.png'"
                                [alt]="character.highest_class + ' Class Icon'"
                                style="width: 40px; height: 40px; object-fit: cover; position: absolute;"
                              >
                              <img
                                [src]="'assets/images/class_logo/' + character.highest_class + '_Icon.png'"
                                [alt]="character.highest_class + ' Class Icon'"
                                style="width: 40px; height: 40px; object-fit: cover; position: absolute;"
                              >

                          </div>
                      </div>

                      <!-- Card Content -->
                      <div class="character-info-container" style="padding: 16px; width: 70%; display: flex; flex-direction: column; justify-content: space-between;">

                          <!-- Owner Avatar -->
                          <a [routerLink]="['/profile', character.owner_name]" class="author-avatar"
                             style="display: flex; align-items: center; margin-bottom: 8px; color: inherit;">
                              <img [src]="'assets/images/avatars/' + character.owner + '.png'"
                                   [alt]="character.owner_name + '\'s Avatar'"
                                   style="width: 32px; height: 32px; border-radius: 50%; margin-right: 8px;">
                              <span style="font-weight: bold;">{{ character.owner_name }}</span>

                          </a>
                          <div>
                              <span class="character-name">{{ character.character_name }}</span>
                          </div>
                          <div>
                              <h3 style="margin: 0; font-size: 20px;">{{ character.title }}</h3>
                              <div class="char-meta" style="margin: 8px 0; font-size: 14px; color: #666;">
                                  <span>Level {{ character.total_level }}</span> • <span>{{ character.race }}</span> • <span>{{ character.highest_class }}</span>
                              </div>
                              <div class="char-tags" style="font-size: 12px; color: #999;">
                                  No community tags
                              </div>
                          </div>

                          <!-- Campaign and Engagement Information -->
                          <div style="display: flex; justify-content: space-between; align-items: center;">
                              <div class="campaign-info" style="color: #333; font-size: 14px; display: flex; align-items: center;">
                                  <img src="assets/images/CampaignIcon.png" alt="Campaign Icon" style="width: 20px; height: 20px; margin-right: 4px;">
                                  <span>No Campaign</span>
                              </div>

                              <div class="character-engagement-information" style="color: #333; font-size: 14px; text-align: right;">
                                  <span>{{ character.views }} views • Created {{ character.timestamp }} ago</span>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
            </div>
          </div>
        </div>

        <ng-template #noResults>
            <p>No characters found.</p>
        </ng-template>
    </div>

    <ng-template #loginPrompt>
        <p>Please <a [routerLink]="['/login']">log in</a> to view characters.</p>
    </ng-template>

</div>
