<div class="navbar">
    <a class="logoLink" href="">
        <img src="/assets/images/RILogoWithTextNoBorderWhiteText.png" alt="Logo" class="nav-logo">
    </a>
    <div class="navbar-links">
        <a href="/search">
          <i class="fa fa-search" style="margin-right: 5px;"></i>Search
        </a>
        <a href="#">Campaigns (WIP)</a>
        <a href="#">News (WIP)</a>
        <a href="#">Collection (WIP)</a>
        <a href="#">Forums (WIP)</a>
    </div>
    @if (isLoggedIn) {
        <div class="profile">
            <span class="profile-name" (click)="navigateToProfile()">{{ username }}</span>
            <button class="logout-btn" (click)="logout()">
                <i class="fa fa-door-open"></i>
                <span class="logout-text">Log Out</span>
            </button>
        </div>
    } @else {
        <div class="navbar-links">
            <a href="/login">Log In</a>
            <a href="/register">Register</a>
        </div>
    }
</div>
