<div class="auth-container">
    <div class="auth-form">
      <a class="logoLink" href="/">
        <img src="assets/images/RILogoWithTextNoBorder.png" alt="Logo" class="auth-logo">
      </a>
      <h2>Reset Your Password</h2>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <!-- Email input -->
        <div class="form-group">
          <label for="email">Email</label>
          <input
            formControlName="email"
            class="input-field"
            type="email"
            placeholder="YourEmail@SomeDomain"
          />
          <div *ngIf="forgotPasswordForm.get('email')?.errors && forgotPasswordForm.get('email')?.touched" class="error-messages">
            <div *ngIf="forgotPasswordForm.get('email')?.errors?.['required']" class="text-danger">Email is required.</div>
            <div *ngIf="forgotPasswordForm.get('email')?.errors?.['email']" class="text-danger">Please enter a valid email.</div>
          </div>
        </div>
        <p>{{ this.message }}</p>

        <button class="auth-button" type="submit" [disabled]="forgotPasswordForm.invalid">Send Reset Email</button>
      </form>

      <div class="extra-links">
        <p class="link-text">New User? <a href="/register">Register now</a></p>
        <p class="link-text">Logging In? <a href="/login">Login here</a></p>
      </div>
    </div>
  </div>
